*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eeeeee;
    --main-color: rgb(40, 184, 148);
    --accent-color: #ddd;
    --header-font: 'PT Sans Narrow', sans-serif;
    --standard-text: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    font-family: var(--standard-text);
    font-size: 1.5rem;
    line-height: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    letter-spacing: 5px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

button { 
    cursor: pointer;
}

.main-color {
    color: var(--main-color);
}

.btn {
    padding: .6rem;
    background: var(--main-color);
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    border-radius: 5px;
    cursor: pointer;
    transition: transform .4s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.main-header {
    width: 100%;
    position: absolute;
    background-color: var(--main-color);
    font-size: 1.5rem;
    z-index: 10;
}

.container {
    margin: 0 auto;
    padding: 1rem 1.2rem;
    height: 100%;
    width: 100%;
    max-width: 1068px;
    position: relative;
}

.nav {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    
}

.nav__menu {
    max-width: 75%;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin-left: auto;
}

.nav__menu-item {
    display: block;
    margin: 5px 20px;
}

.nav__menu-item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
/* End Header Styles */

/* HERO STYLES */
.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)), url('./assets/home-images/culdesac-overview.jpg') no-repeat center;
    background-size: cover;
}

.hero > .container {
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

.hero > .container h1 {
    margin: 2rem 0;
}

.hero__search-form {
    padding: 1rem;
    width: 60%;
    background: var(--accent-color);
    color: black;
    font-size: 1.4rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.hero__search-form input {
    margin: 0 2rem 0 0.4rem;
    padding: .5rem;
    height: 3rem;
}

/* FEATURED PROPERTIES CARUOSEL */
.featured-properties {
    padding: 2.5rem 0 2rem 0;
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}


.carousel {
    margin: .5rem 0;
    height: 400px;
    width: 100%;
    position: relative;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button ion-icon {
    font-size: 25px;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}

.carousel__track-container {
    margin: auto;
    width: 90%;
    height: 100%;
    position: relative;
}

.carousel__track {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.carousel__slide {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

.carousel__card {
    padding: 1rem;
    width: 30%;
    color: #333;
    border-radius: 6px;
    cursor: pointer;
}

.carousel__card:hover {
    background: #cccccc;
}

.carousel__card img{
    height: 180px;
    object-fit: cover;
}

.carousel__card__price {
    margin: .5rem 0;
    color: var(--main-color);
    font-size: 3rem;
}

.card-info-number {
    font-weight: bold;
}

.carousel__nav {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.carousel__dot {
    margin: 0 15px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

.carousel__dot.current-slide {
    background: rgba(0,0,0,0.75);
}
/* END FEATURED PROPERTIES CAROUSEL */

/* START FEATURED PROPERTIES OPEN HOUSES */
.info-cards {
    margin: 4rem auto 1rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    bottom: 2px;
}

.info-cards h1 {
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
}

.info-card {
    margin: 1rem;
    padding: .5rem;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    border-radius: 5px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    text-align: left;
}

.info-card img {
    width: 150px;
    object-fit: contain;
}

.info-card__house-info {
    right: 0;
}
/* END FEATURED PROPERTIES */

/* REALTOR INFORMATION */
.realtor {
    height: 100vh;
    width: 100%;
}

.realtor .container {
    display: flex;
    justify-content: space-evenly;
}

.realtor__agent,
.realtor__connect {
    padding: 1rem;
    height: 45%;
    width: 45%;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.realtor__agent__info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: initial;    
}

.realtor__agent__info img {
    height: 150px;
    width: 40%;
    object-fit: cover;
}

.realtor__agent__info-text {
    width: 60%;
}

.realtor__connect__social-links {
    text-align: center;
}

.realtor__social-link {
    font-size: 3rem;
    margin: 0 2rem;
}