*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #eeeeee;
    --main-color: rgb(40, 184, 148);
    --accent-color: #ddd;
    --header-font: 'PT Sans Narrow', sans-serif;
    --standard-text: 'Roboto', sans-serif;
    font-size: 10px;
}

body {
    height: 100vh;
    width: 100%;
    background-color: var(--main-bg-color);
    font-family: var(--standard-text);
    font-size: 1.5rem;
    line-height: 2rem;
}

h1,
h2,
h3,
h4 {
    font-family: var(--header-font);
    letter-spacing: 5px;
}

h1,
h2 {
    line-height: 3rem;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h3 {
    font-size: 2rem;
    margin-bottom: .5rem;
}

h4 {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: #333;
}

img {
    width: 100%;
}

button { 
    cursor: pointer;
}

ul {
    list-style: none;
}

.main-color {
    color: var(--main-color);
}

.btn {
    padding: .6rem;
    background: var(--main-color);
    border: 1px solid var(--accent-color);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .4s ease;
}

.btn:hover {
    transform: scale(1.1);
}

.main-header {
    width: 100%;
    position: absolute;
    background-color: var(--main-color);
    font-size: 1.5rem;
    z-index: 10;
}

.container {
    margin: 0 auto;
    padding: 1rem 1.2rem;
    height: 100%;
    width: 100%;
    max-width: 1068px;
    position: relative;
}

/* MENU BUTTON STYLES */
.menu-btn {
    position: fixed;
    z-index: 3;
    right: 1.5rem;
    top: 1rem;
    cursor: pointer;
    visibility: hidden;
    transition: all .4s ease;
}

.btn-line { 
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: var(--accent-color);
    transition:  all .5s ease-out;
}
.menu-btn:hover * {
    background: #333;
}
.menu-btn.close:hover * {
    background: var(--main-color);
}

/* Menu lines rotate into x on close */
.menu-btn.close {
    transform: rotate(180deg);
    color: #333;
}
/* Rotate top line */
.btn-line.close:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
/* Hide middle line */
.btn-line.close:nth-child(2) {
    opacity: 0;
}
/* Rotate bottom line */
.btn-line.close:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
} 

 

.nav {
    /* height: 10vh; */
    width: 100%;
    display: flex;
    align-items: center;
    
}

.nav__menu {
    max-width: 75%;
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin-left: auto;
}

.nav__menu-item {
    display: block;
    margin: 5px 20px;
}

.nav__menu-item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: color .4s ease;
}
.nav__menu-item a:hover {
    color: #333;
}
/* End Header Styles */

/* HERO STYLES */
.hero {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)), url('./assets/home-images/culdesac-overview.jpg') no-repeat center;
    background-size: cover;
}

.hero > .container {
    
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: var(--accent-color);
}

.hero > .container h1 {
    margin: 2rem 0;
}

.hero__search-form {
    padding: 1rem;
    width: 60%;
    background: var(--accent-color);
    color: black;
    font-size: 1.4rem;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.hero__search-form input {
    margin: 0 2rem 0 0.4rem;
    padding: .5rem;
    height: 3rem;
}

/* FEATURED PROPERTIES CARUOSEL */
.featured-properties {
    padding: 5rem 0 2rem 0;
    width: 100%;
    text-align: center;
    position: relative;
}

.featured-properties > .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.carousel {
    margin: .5rem 0;
    height: 400px;
    width: 100%;
    position: relative;
}

.carousel__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel__button ion-icon {
    font-size: 25px;
}

.carousel__button--left {
    left: 10px;
}

.carousel__button--right {
    right: 10px;
}

.carousel__track-container {
    margin: auto;
    width: 90%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.carousel__track {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    transition: all .5s ease-in-out;
}

.carousel__slide {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
}

.carousel__card {
    padding: 1rem;
    width: 30%;
    color: #333;
    border-radius: 6px;
    cursor: pointer;
}

.carousel__card:hover {
    background: #cccccc;
}

.carousel__card img{
    height: 180px;
    object-fit: cover;
}

.carousel__card__price {
    margin: .5rem 0;
    color: var(--main-color);
    font-size: 3rem;
}

.card-info-number {
    font-weight: bold;
}

.carousel__nav {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
}

.carousel__dot {
    margin: 0 15px;
    border: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: rgba(0,0,0,0.3);
    cursor: pointer;
}

.carousel__dot.current-slide {
    background: rgba(0,0,0,0.75);
}
/* END FEATURED PROPERTIES CAROUSEL */

/* START FEATURED PROPERTIES OPEN HOUSES */
.info-cards {
    margin: 4rem auto 1rem auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: relative;
    bottom: 2px;
}

.info-cards h2 {
    margin-bottom: 1.5rem;
    width: 100%;
    text-align: center;
}

.info-card {
    margin: 1rem;
    padding: .5rem;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    background: #ffffff;
    border-radius: 5px;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    text-align: left;
}

.info-card img {
    width: 150px;
    object-fit: contain;
}

.info-card__house-info {
    right: 0;
}

.info-card__house-info a {
    color: var(--main-color);
    transition: color .4s ease;
}
.info-card__house-info a:hover {
    color: #333;
}

.info-card__house-info h2 {
    font-size: 2rem;
    margin: .5rem 0;
}
/* END FEATURED PROPERTIES */

/* REALTOR INFORMATION */
.realtor {
    /* height: 50vh; */
    width: 100%;
}

.realtor .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.realtor__agent,
.realtor__connect {
    margin: 2rem 0;
    padding: 1rem;
    min-height: 300px;
    width: 45%;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}

.realtor__agent__info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: initial;    
}

.realtor__agent__info img {
    height: 275px;
    width: 40%;
    object-fit: cover;
}

.realtor__agent__info-text {
    margin-left: 2rem;
}

.realtor__connect__social-links {
    text-align: center;
}

.realtor__social-link {
    font-size: 3rem;
    margin: 0 2rem;
}
/* END REALTOR SECTION */

/* OTHER PROPERTIES */
.other-properties {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.diversify-option {
    padding: 2rem;
    /* height: 100%; */
    width: 33%;
    color: #ffffff;
    display: flex;
    flex-flow: column nowrap ;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.diversify-option__btn {
    margin: 1.4rem 0;
    background: transparent;
    border: 4px solid #ffffff;
}

.diversify-option#worldwide {
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)), url('/assets/home-images/diversify-options1.jpeg') no-repeat center;
    background-size: cover;
    
}
.diversify-option#commercial {
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)),url('/assets/home-images/diversify-options2.jpeg') no-repeat center;
    background-size: cover;
}
.diversify-option#luxury {
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)),url('/assets/home-images/diversify-options3.jpeg') no-repeat center;
    background-size: cover;
}
/* END OTHER PROPERTIES DIVERSIFY OPTIONS */

/* FIND AGENT */
.find-agent {
    height: 75vh;
}
.find-agent > .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.find-agent__text {
    height: 300px;
    max-width: 750px;
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.6)),url('/assets/home-images/bg-find-agent.jpeg') no-repeat center;
    background-size: cover;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
}
.find-agent__text h2 {
    line-height: 3rem;
    text-transform: capitalize;
}
/* END FIND AGENT */


/* Footer */
.footer {
    padding-top: 2rem;
    min-height: 50vh;
    background: #333;
    color: var(--main-color);
}

.footer > .container {
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

.footer a {
    color: var(--accent-color);
}
.footer a:hover {
    color: #888888;
}

.footer__more{
    margin-top: 3rem;
    /* min-height: 400px; */
    width: 90%;
    display: grid;
    grid-template-areas: 
        "logo gen gen gen"
        "log rer rer rer";
}

.footer__more__content {
    margin-bottom: 2rem;
}

#footer-logo {
    height: 100%;
    grid-area: logo;
}

.footer__links {
    margin: 1rem;
}

.footer__general-links {
    display: flex;
    flex-flow: row wrap;
}

.footer__general-links > .footer__link::after {
    content: '|';
    color: var(--main-color);
    margin-left: 6px;
}

.footer__general-links > .footer__link:last-child::after {
    content: '';
}

.footer__general-links > .footer__link {
    margin-right: 10px;
}

#gen {
    grid-area: gen;
}

#rer {
    grid-area: rer;
}

/* media queries */
/* XL SCREENS */
/* @media screen and (min-width: 1051px) {
    .menu-btn {
        visibility: hidden;
    }
} */
/* MD SCREENS */
@media screen and (min-width: 545px) and (max-width: 1050px) {
    .menu-btn {
        visibility: visible;
        z-index: 150;
    }

    .main-header {
        position: fixed;
    }

    .nav__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        z-index: 120;
        opacity: 0;
        transform: scale(0);
        transform: opacity .5s;
    }
    
    .nav__backdrop.show {
        opacity: 1;
        transform: scale(1);
    }

    .nav__menu {
        height: 100vh;
        width: 40vw;
        z-index: 150;
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        justify-content: space-around;
        background: var(--main-color);
        transform: translateX(-120%);
        transition: transform .5s ease-in;
    }
    .nav__menu.show {
        transform: translateX(0);
    }

    .nav__menu-item {
        padding-bottom: 2rem;
        border-bottom: 2px solid #ffffff;
    }
    .nav__menu-item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    /* end header medium */

    /* Hero Small Screens */
    .hero__search-form {
        width: 100%;
    }

    /* Featured Properties Small */
    .carousel__card:last-child {
        display: none;
    }

    .carousel__card {
        width: 50%;
    }

    .info-card {
        width: 80%;
    }

    /* Realtor Small */
    .realtor__agent, 
    .realtor__connect {
        width: 80%;
    }

    /* Other Properties Small */
    .other-properties {
        /* height: 100%; */
        flex-direction: column;
    }

    .diversify-option {
        height: 75vh;
        width: 100%;
    }

    .footer__more {
        grid-template-areas: 
            'logo logo logo'
            'gen gen gen'
            'rer rer rer';
    }
}

@media screen and (max-width: 544px) {
    .menu-btn {
        visibility: visible;
        z-index: 150;
    }

    .main-header {
        position: fixed;
    }

    .nav__backdrop {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0,0,0,0.8);
        z-index: 120;
        opacity: 0;
        transform: scale(0);
        transform: opacity .5s;
    }
    
    .nav__backdrop.show {
        opacity: 1;
        transform: scale(1);
    }

    .nav__menu { 
        width: 100%;
    }

    .nav__menu {
        height: 100vh;
        width: 100vw;
        z-index: 150;
        flex-flow: column nowrap;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        justify-content: space-around;
        background: var(--main-color);
        transform: translateX(-120%);
        transition: transform .5s ease-in;
        overflow-x: hidden;
    }
    .nav__menu.show {
        transform: translateX(0);
    }

    .nav__menu-item {
        padding-bottom: 2rem;
        border-bottom: 2px solid #ffffff;
    }
    .nav__menu-item:last-child {
        padding-bottom: 0;
        border-bottom: none;
    }
    /* End Header Small Screens */

    /* Hero Small Screens */
    .hero__search-form {
        width: 100%;
    }

    /* Featured Properties Small */
    .carousel__card:nth-child(2) {
        display: none;
    }

    .carousel__card:last-child {
        display: none;
    }

    .carousel__card {
        width: 100%;
    }

    .info-card {
        width: 100%;
    }

    /* Realtor Small */
    .realtor__agent, 
    .realtor__connect {
        width: 100%;
    }

    /* Other Properties Small */
    .other-properties {
        /* height: 100%; */
        flex-direction: column;
    }

    .diversify-option {
        height: 50vh;
        width: 100%;
    }

    /* Footer small */
    .footer__more {
        grid-template-areas: 
            'logo logo logo'
            'gen gen gen'
            'rer rer rer';
    }

    #rer {
        font-size: 1.3rem;
    }
}